.addList{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 185px;
    display: flex;
    flex-direction: column;
}
.addList > input {
    margin-top: 0;
}
.curseTitle{
    height: 90px;
    padding: 10px;
    resize:none;
    border: 1px solid rgb(199, 180, 180);
    border-radius: 5px;
    margin-top: 5px;
    outline: none;
margin-bottom: 5px;
}
.curseTitle::placeholder {
    font-size: 15px;
    padding-top: 23px;
    padding-left: 120px;
}
.check {
    height: 20px;
    width: 20px;
    outline: none;
    border: 1px solid rgb(199, 180, 180);
}
.checkBox {
    display: flex;
    gap: 10px;
    align-items: center;
    color: rgb(110, 110, 110);
}