.addList{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 160px;
    display: flex;
    flex-direction: column;
}

.curseTitle{
    height: 90px;
    padding: 10px;
    resize:none;
    border: 1px solid rgb(199, 180, 180);
    border-radius: 5px;
    margin-top: 5px;

}
.curseTitle::placeholder {
    padding-top: 23px;
    padding-left: 120px;
}
