.info {
    height: 100vh;
  background-image: url("/public/bgHeader.jpg");
  padding: 30px;
  display: grid;
  grid-template-rows: 60px auto;
 position: relative;
}
.searchInfo {
    height: 40px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid #c7b4b4;
    outline: none;
    padding-left: 10px;
    background-size: 5%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 99%;
    background-image: url("/public/search.png");
}
.buttonConditionsVictory {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c7b4b4;
    font-size: 20px;
    background-color: rgb(251, 245, 253);
    height: 40px;
    width: 500px;
    border-radius: 10px;
    font-weight: 700;
}
.conditionsVictory {
    height: 100%;
    width: 100%;
    z-index: 20;
    position: absolute;
    background-image: url("/public/bgHeader.jpg");
    padding: 30px;
}
.buttonConditionsVictory:hover{
    border: 1px solid rgb(119, 0, 0);
}
.headerInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.logoInfo{
    height: 40px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/public/MI.png");
}
.closePage{
    height: 40px;
    width: 40px;
    background-size: contain;
    background-image: url("/public/close.png");
}
.infoItem {
    display: grid;
    grid-template-rows: 40px auto 30px;
    max-height: 800px;
}
.headerItem {
    display: flex;
    justify-content: space-between;
}

.iconItem,
.nameItem,
.descriptionItem,
.chanceItem {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 5px;
    border: 2px solid rgb(119, 0, 0);
    font-weight: 700;
}
.nameItem {
    width: calc(100% - 40px);
    border-bottom: 0px solid rgb(119, 0, 0);
    font-size: 28px;
    border-radius: 5px 5px 5px 0 ;
}
.descriptionItem {
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    border-bottom: 1px solid rgb(119, 0, 0);
    padding: 15px;
    position: relative;
    font-size: 20px;
}
.descriptionItem > img {
    width: 100%;
    max-height: 100%;
    background-size: contain;
    position: absolute;
    opacity: 0.2;
}
.chanceItem {
    border-top: 1px solid rgb(119, 0, 0);
}
.iconItem {
    width: 40px;
    height: 40px;
    border-radius: 15px 5px 0 5px;
    border-bottom: 0px solid rgb(119, 0, 0);
    border-right: 0px solid rgb(119, 0, 0);
    padding: 3px;

}

.containInfo {  
    height: 100%;
    overflow-y: auto;
    display: grid;
    gap: 28px;
    grid-template-columns: repeat(4, 1fr);
}
.containInfo::-webkit-scrollbar {
    display: none;
}

.conditionsHeader {
    display: flex;
    justify-content: space-between;
}
.conditionsHeader > h2{
    font-size: 40px;
}
.conditions {
margin: 40px;
border: 1px solid rgb(168, 12, 142);
    background: #fdf8fd;
    padding: 20px;
    border-radius: 10px;
}
.conditions > span {
    display: flex;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
}
.conditions > p {
    font-size: 22px;
    margin-bottom: 10px;
}
@media (max-width: 600px) {
    .containInfo {
        grid-template-columns: repeat(1, 1fr);
    }
    .searchInfo {
        width: 150px;
    }
    .buttonConditionsVictory {
        width: 150px;
        font-size: 15px;
    }
    .descriptionItem > img {
        height: 150px;
    }
    .searchInfo {
        background-size: 16%; 
    }
    .descriptionItem {
        font-size: 17px;
    }
  }