.info {
    height: 100vh;
  background-image: url("/public/bgHeader.jpg");
  padding: 30px;
  display: grid;
  grid-template-rows: 60px auto;
 
}
.searchInfo {
    height: 40px;
    width: 600px;
    border-radius: 10px;
    border: 1px solid #c7b4b4;
    outline: none;
    padding-left: 10px;
    background-size: 5%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 99%;
    background-image: url("/public/search.png");
}
.headerInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.logoInfo{
    height: 40px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/public/MI.png");
}
.closePage{
    height: 40px;
    width: 40px;
    background-size: contain;
    background-image: url("/public/close.png");
}
.infoItem {
    position: relative;
    overflow: hidden;
    font-weight: 400;
    display: grid;
    justify-items: center;
    grid-template-rows: 40px auto 40px;
    height: 400px;
    border-radius: 20px;
    padding: 40px 40px 10px 40px;
    color: rgb(14, 13, 13);
    border: 2px solid rgb(119, 0, 0);
    background: white;
    color: rgb(0, 0, 0);
    overflow-y: auto;
    align-items: center;
}
.infoItem::-webkit-scrollbar {
    display: none;
}
.itemImg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}
.infoItem > h2 {
    font-size: 30px;
}
.infoItem > span {
    font-size: 16px;
    font-weight:900;
}
.containInfo {  
    height: 100%;
    overflow-y: auto;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}
.containInfo::-webkit-scrollbar {
    display: none;
}
@media (max-width: 600px) {
    .containInfo {
        grid-template-columns: repeat(1, 1fr);
    }
  }