*{
  box-sizing: border-box;
  padding: 0 0;
  margin:  0 0;
}
.more {
  height: 40px;
  width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/public/more.png');
}
.historyPng{
  height: 40px;
  width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/public/history.png');
}
.historyBox,
.moreBox {
  display: flex;
  align-items: center;
  color: rgb(92, 12, 81);
}
.icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.containerApp{
  overflow-x: auto;
  height: 100vh;
}
:root {
  background-image: url("/public/bgHeader.jpg");
}
.containerApp::-webkit-scrollbar {
  display: none;
  
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header > h2 {
  font-size: 50px;
  color: rgb(67, 14, 117);
}
.logoIcon {
  height: 100px;
  width: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/public/MI.png");
}
.logoTitle {
  height: 80px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/public/logo.png");
}
.enter{
  display: flex;
  justify-content: center;
  align-items: center;

}
.enter > span {
  color: rgb(92, 12, 81);
}
.enter > input {
  height: 30px;
  width: 150px;
}
.enter > button {
  height: 30px;
  width: 100px;
}
.memberList {
  position: relative;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px;
  gap: 30px;
}

.twitch {
  height: 40px;
  width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/public/twitch.png");
}
.switchMember {
  display: none;
}
@media (max-width: 600px) {
  .memberList {
    grid-template-columns: repeat(1, 1fr);
  }
  .switchMember{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .switchMember > button {
    display: flex;
    justify-content: center;
    border: none;
    border-bottom: 1px solid rgb(199, 180, 180);
    border-left: 1px solid rgb(199, 180, 180);
    font-size: 12px;
    margin-top: 10px;
  }
  .logoIcon  {
    height: 50px;
    width: 75px;
  }
  .logoTitle{
    height: 40px;
    width: 100px;
  }
  .historyBox,
  .moreBox,
  .enter {
    font-size: 12px;
  }
  .historyPng,
  .more,
  .twitch {
    height: 30px;
    width: 30px;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid rgb(52,225,242);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  top: 30%;
  left: 50%;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: rgb(59,7,100) transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 