.popUp {
  position: fixed;
  display: flex;
  align-items: center;
    justify-content: center;
  height: 100vh;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.link1 {
  height: 18px;
  width: 18px;
  left: -20px;
  top: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/public/linkTwitch.png");
  position: absolute;
}
.link2 {
  height: 18px;
  width: 18px;
  right: -20px;
  top: 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/public/linkTwitch.png");
  position: absolute;
}
.linkName {
  position: relative;
}
.memberName {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(52,225,242);
  text-align: center;
  height: 30px;
  border-radius: 5px 5px 0 0 ;
  border: 1px solid rgb(199, 180, 180);
}
.curseList {
  background: white;

}

.done {
  position: absolute;
  height: 15px;
  width: 15px;
  right: 10px;
  top: 7px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/public/done.png");
}
.done:hover {
  cursor: pointer;
}
.delete {
  position: absolute;
  height: 15px;
  width: 15px;
  left: 10px;
  top: 7px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/public/del.png");
}
.curse {
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid grey;
  align-items: center;
  height: 30px;
  border: 1px solid rgb(199, 180, 180);
  border-top: none;
  background: rgb(104,241,62);
  transition: all 2s;
}
.curse > span {
  cursor: default;
  position: relative;
}
.curse > span:hover {
  font-weight: 700;
  cursor: pointer;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 400px;
  padding: 15px;
  border-radius: 5px;
  z-index: 10;
  border: 1px solid rgb(168, 12, 142);
  background: #f4def7;
  font-size: 17px;
}
.descriptionClose {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 10px;
  bottom:  10px;
}
.curseIcon {
  position: absolute;
  height: 26px;
  width: 26px;
  top: -4px;
  left: -30px;
  border-radius: 50%;
}
.hover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 200px;
  background: #f4def7;
  border-radius: 5px 5px 0 0;
  border: 1px solid rgb(168, 12, 142);
  border-bottom: none;
  z-index: 20;
  font-size: 18px;
  font-weight: 700;
}
.descriptionImg {
  height: 200px;
  width: 200px;
  margin: 10px;
}
/* .dopInfo {
  position: absolute;
  height: 15px;
  width: 15px;
  left: 10px;
  top: 7px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/public/dopInfo.png");
} */
@media (max-width: 600px) {
  .memberName {
    font-size: 13px;
  }
  .curseDone {
    font-size: 13px;
  }
  .curse {
    font-size: 13px;
  }
  .curseIcon{
    height: 24px;
    width: 24px;
    top: -5px;
  }
}
