.member {
}
.memberName {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(196, 226, 247);
  text-align: center;
  height: 30px;
  border-radius: 5px 5px 0 0 ;
  border: 1px solid rgb(199, 180, 180);
}
.curseList {
  background: white;
}
.done {
  position: absolute;
  height: 15px;
  width: 15px;
  right: 10px;
  top: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/public/done.png");
}
.done:hover {
  cursor: pointer;
}
.delete {
  position: absolute;
  height: 15px;
  width: 15px;
  left: 10px;
  top: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/public/del.png");
}
.curse {
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid grey;
  align-items: center;
  height: 30px;
  border: 1px solid rgb(199, 180, 180);
  border-top: none;
}
.curse > span {
  cursor: default;
}
.curseDone {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  border-bottom: 1px solid grey;
  background: #68f13e;
}

@media (max-width: 600px) {
  .memberName {
    font-size: 13px;
  }
  .curseDone {
    font-size: 13px;
  }
  .curse {
    font-size: 13px;
  }
}
