.widgetSetting {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: center;
    width: 300px;
}
.counter {
    display: flex;
}
.counter > button {
    width: 20px;
    margin: 0 5px;
}
fieldset {
    width: 100%;
    padding: 10px;
}
.widthSettingWidget {
    width: 100%;
}