.membersList{
    width: 100%;
}
.membersListTitle{
    height: 30px;
  display: flex;
  align-items: center;
    justify-content: center;
  background: rgb(196, 226, 247);
  border-bottom: 1px solid grey;
}
.nameMember {
    position: relative;
    display: flex;
    align-items: center;
      justify-content: center;
    height: 30px;
    background: white;
    border-bottom: 1px solid grey;
}